<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Calma e Ansiedade (template)</title>
</head>
<body>
<h3>Subject: Occam Labs - Sessão Estudo {{event_name}}</h3>
<hr>
<div>Olá {{first_name}},</div><div><br></div><div>Recordo que dia {{event_day}}, {{week_day}} às {{event_time}} horas tem sessão do estudo da/o {{event_name}}.&nbsp;</div><div><br></div><div>Para a sessão, por favor <b>traga fones compatíveis com o seu telemóvel</b>.</div><div><br></div><div>Por favor compareça 10 minutos antes da hora marcada nas nossas instalações em:&nbsp;</div><div><br></div><div>Rua General Ferreira Martins, edifício número 10, 7o A&nbsp;</div><div>1495-137 Algés&nbsp;</div><div><br></div><div>Peço-lhe que confirme a sua presença ou, caso não possa comparecer, o indique.&nbsp;</div><div><br></div><div>Muito obrigada.&nbsp;</div><div>Até breve,
</div>
</body>
</html>
